{% extends "core/base.html" %}

{% block page %}

{% block memories %}
<div class="memories">
    {% for memory in memories %}
    <div class="card text-center">
        <div class="card-header">
            Воспоминание №{{ memory.id }}
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ memory.location_name }} </h5>
            <p class="card-text">{{ memory.location_address }}</p>
            <p class="card-text">{{ memory.location_memories }}</p>
            <a href="{% url 'delete-memory' memory.id%}" class="btn btn-primary">Удалить</a>
        </div>
    </div>

    {% comment %} <div class="empty-memories">
        <p>У вас нет ни одного воспоминания</p>
        {% if user.is_authenticated %}
        <a type="button" class="btn btn-outline-dark btn-rounded navbar-text-resizer me-3"
            href="{% url 'add-memory-page' %}" style="padding-top: 3px;">Add Remember</a>
        {% endif %}
    </div> {% endcomment %}
    {% comment %} <ul class='menu'>
        {#    <li class="menu_item"><a class="menu_link" href="{% url 'add-page' %}">Add new</a></li>#}
        {#    <li class="menu_item"><a class="menu_link" href="{% url 'show-page' %}">Show all</a></li>#}
        {#    <li class="menu_item"><a class="menu_link" href="{% url 'edit-page' %}">Edit</a></li>#}
        {#    <li class="menu_item"><a class="menu_link" href="{% url 'delete-page' %}">Delete</a></li>#}
        {#    <li class="menu_item"><a class="menu_link" href="{% url 'find-page' %}">Find new bicycle</a></li>#}
    </ul> {% endcomment %}
    {% empty %}
    <div class="empty-memories">
        <p>У вас нет ни одного воспоминания</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% if user.is_authenticated %}
<div class="add-memories-btn">
    <a type="button" class="btn btn-outline-dark btn-rounded navbar-text-resizer me-3"
        href="{% url 'add-memory-page' %}" style="padding-top: 3px;">Add Memory</a>
</div>
{% endif %}

{% endblock %}