@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

.memories {
    flex-grow: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    grid-gap: 15px;
}

.map {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: auto;
    margin-left: 36px;
    margin-top: 150px;
}

.add-memories {
    display: flex;
    flex-direction: row;
    margin-left: 18%;
    height: 75%;
}

.navbar-text-resizer {
    font-size: 22px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.btn-rounded {
    border: 2px solid;
    border-radius: 24px;
}

.btn-icon-rounded {
    border: 0;
    border-radius: 20px;
}

#footer {
    width: 100%;
    position: inherit;
    bottom: 0;
    left: 0;
    margin-top: 30px;
}

.text-white {
    color: black!important;
}

.empty-memories {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
    flex-direction: column;
}

.add-memories-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

html, body {
    height: 100%;
}